{% extends "./base.html" %}

{% block body %}
<div style="align-items: center;">
<br>
<br>
<h2>Signup</h2>
<form action="/signup" method="POST" style="width: 45%; background-color: rgb(144, 144, 144); padding: 5%; border-radius: 10%;">
  {{ form.csrf_token }}
  <div class="input-group mb-3">

      {{ form.name.label(class="input-group-text") }}

      {{ form.name(class="form-control", size=20) }}
  </div>
  
  <br>
  <div class="input-group mb-3">
      {{ form.user.label(class="input-group-text") }}

      {{ form.user(class="form-control", size=20) }}
  </div>
  <br>
  <div class="input-group mb-3">
      {{ form.password.label(class="input-group-text") }}

      {{ form.password(class="form-control", type="password", size=20) }}
  </div>
  <br>
  <input type="submit" value="Signup">
</form>

{% if info!="" and info!="True" %}
<h3>{{info}}</h3>
{% endif %}
</div>

{% endblock %}