{% extends "./base.html" %}

{% block body %}
<h2>examples</h2>
<form method="POST" action="/products/agregar" enctype="multipart/form-data">
    <input type="text" name="nombre" placeholder="nombre"><br>
    <input type="number" name="precio" placeholder="precio"><br>
    <input type="file" id="archivo" name="archivo" placeholder="archivo"><br>
    <button type="submit">Agregar</button>
</form>


<div id="ShowExamples">
        {% for product in products %}
            <li>
                <div>
                    {{ product.nombre }} - ${{ product.precio }}
                    <img src="`data:${product.tipo};base64,${product.pixel}`;">
                </div>
                
            </li>
        {% endfor %}
</div>

{% endblock %}