{% extends "./base.html" %}

{% block body %}

{% if current_user.email==Producto.merchant_email %}
<button class="btn btn-danger" onclick="location.href='/products/eliminar/{{Producto.product_id}}'">eliminar</button>
<form method="post" action="/products/editar/{{Producto.product_id}}" >
    <div style="width: 45%;">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">nombre</span>
            <input type="text" name="nombre"  value="{{Producto.nombre}}" placeholder="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div><br>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">precio</span>
            <input type="number" name="precio"  value="{{Producto.precio}}" placeholder="precio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         </div><br>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">stock</span>
            <input type="number" name="stock" placeholder="stock" value="{{Producto.stock}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div><br>
    </div>

<img src="data:{{ Producto.tipo }};base64,{{ pixels }}"
style="width:50%; height:50%; object-fit:cover; margin:5px;">




    <textarea type="text" name="decripcion" placeholder="descripcion" style="height: 250px;width: 50%;" required>{{Producto.descripcion}}</textarea>
    <br>
    <button type="submit" class="btn btn-primary" style="margin: 2%;">editar</button>

</form>
{% else %}
<h2>{{Producto.nombre}}</h2>
    <br>
<h3>precio:{{Producto.precio}}$</h3>
    <br>
<h3>stock:{{Producto.stock}}</h3>
<br>

<img src="data:{{ Producto.tipo }};base64,{{ pixels }}"
style="width:50%; height:50%; object-fit:cover; margin:5px;">

<br>
<h2>{{Producto.descripcion}}</h2>
{% if current_user.email %}

    {% if orden %}
    <form method="POST" action="/orders/update/{{ Producto.product_id }}" enctype="multipart/form-data">
    <input type="number" name="cantidad_{{ Producto.product_id }}" placeholder="cantidad" value="{{orden.cantidad}}"><br>
    <button type="submit" class="btn btn-primary">editar compra</button>
    </form>
    {% else %}
    <form method="POST" action="/order_items/agregar/{{ Producto.product_id }}" enctype="multipart/form-data">
    <input type="number" name="cantidad" placeholder="cantidad" value><br>
     <button type="submit" class="btn btn-primary">agregar al carrito</button>
    </form>
    {% endif %}
{% else %}
<h3>Se necesita iniciar secion para comprar este producto</h3>
{% endif %}
{% endif %}
{% endblock %}